<?xml version="1.0" encoding="UTF-8"?>

    <manifest
    package="com.glong.sample"

    xmlns:android="http://schemas.android.com/apk/res/android">

        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:supportsRtl="true"
        android:allowBackup="true">


    -<activity android:name="com.glong.reader.MainActivity">


</activity>



    <activity android:name="com.glong.reader.activities.ExtendReaderActivity" android:theme="@style/NoActionTheme"
        />



    <activity android:name="com.glong.reader.activities.WebViewActivity"/>

    <activity android:name="com.glong.reader.activities.PaperActivity"/>

</application>

</manifest>