<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jdhd.qynovels"> <!-- minSdkVersion为9时的合并 -->
    <uses-sdk tools:overrideLibrary="android.support.v7.appcompat, android.support.v7.recyclerview,com.dingmouren.layoutmanagergroup,                                         com.squareup.leakcanary, com.squareup.leakcanary.analyzer, com.squareup.leakcanary.android.noop" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.autofocus" /> <!-- 读取手机IMEI的设备权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- for mta statistics, not necessary -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 穿山甲权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconyj"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Main"
        >
        <activity android:name=".ui.activity.PrizeListActivity"></activity>
        <activity android:name=".ui.activity.ZpActivity" />
        <activity android:name=".ui.activity.YqActivity" />
        <activity android:name=".ui.activity.XyActivity" />
        <activity android:name=".ui.activity.FriendListActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <activity android:name=".ui.activity.BindCodeActivity" />
        <activity android:name=".ui.activity.XxActivity" />
        <activity android:name=".ui.activity.ReadActivity" />
        <activity android:name=".ui.activity.BindMobileActivity" />
        <activity android:name=".ui.activity.MuluActivity" />
        <activity android:name=".ui.activity.TxjlActivity" />
        <activity android:name=".ui.activity.QdActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux" />
        <activity android:name=".ui.activity.GgActivity" />
        <activity android:name=".ui.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ShareActivity" >

        </activity>
        <activity android:name=".ui.activity.YdwActivity" >

        </activity>
        <activity android:name=".ui.activity.JbActivity" />
        <activity android:name=".ui.activity.CjwtActivity" />
        <activity android:name=".ui.activity.GywmActivity" />
        <activity android:name=".ui.activity.TxActivity" />
        <activity android:name=".ui.activity.ZhglActivity" />
        <activity android:name=".ui.activity.SzActivity" />
        <activity android:name=".ui.activity.XgncActivity" />
        <activity
            android:name=".ui.activity.GrzlActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.MorePhbActivity" />
        <activity android:name=".ui.activity.LsActivity" />
        <activity android:name=".ui.activity.SsActivity" />
        <activity android:name=".ui.activity.XqActivity" />
        <activity android:name=".ui.activity.XssdActivity" />
        <activity android:name=".ui.activity.WjjpActivity" />
        <activity android:name=".ui.activity.PhbActivity" />
        <activity android:name=".ui.activity.FlActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jdhd.qynovels.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
    </application>

</manifest>