<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jdhd.qynovels">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.autofocus" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/iconz"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Main"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.GgActivity"></activity>
        <activity android:name=".ui.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ShareActivity" />
        <activity android:name=".ui.activity.YdwActivity"></activity>
        <activity android:name=".ui.activity.JbActivity" />
        <activity android:name=".ui.activity.CjwtActivity" />
        <activity android:name=".ui.activity.GywmActivity" />
        <activity android:name=".ui.activity.TxActivity" />
        <activity android:name=".ui.activity.ZhglActivity" />
        <activity android:name=".ui.activity.SzActivity" />
        <activity android:name=".ui.activity.XgncActivity" />
        <activity
            android:name=".ui.activity.GrzlActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.MorePhbActivity" />
        <activity android:name=".ui.activity.LsActivity" />
        <activity android:name=".ui.activity.SsActivity" />
        <activity
            android:name=".ui.activity.XqActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.XssdActivity" />
        <activity android:name=".ui.activity.WjjpActivity" />
        <activity android:name=".ui.activity.PhbActivity" />
        <activity android:name=".ui.activity.FlActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jdhd.qynovels.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>